
.Box2 {
    display: flex;
    width: 100%;
    height: 50px;
    background-color:#27397c;
}

.Box {
    position:relative; 
    width: 15%; 
    height: 100vh;
    background-color: white;
    margin-left: 15px;
    border-style: groove;
    border-color: lightgray;
}

.navbar {
    background-color: white;
    max-width: 1280px;
    height: 20px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.dropdown {
  height: 45px;
  display: grid;
  margin-top: 10px;

}
.searchbar {
  height: 45px;
  width: 65%;
  display: grid;
  margin-top: 10px;
  padding-right: 30px;
}

.LogoPic {
  height: 40px;
  width: auto;
  display: flex;
  margin-left: 90px;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: start;
}

.right {
    background: blue;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .red_box {
    flex: 0 0 50%;
    background: red;
    border: 1px solid #111;
    border-bottom: none;
    text-align: center;
  }

  .menu {
    width: 25%;
    position: relative;
    float: left;
    display: flex;
    padding: 15px;
    margin-left: 15px;
    background-color: white;
    border: 1px groove white;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

  .bigmain {
    width: 71%;
    display: flex;
  }

  * {
    box-sizing: border-box;
  }
  
  .header {
    border: 1px solid gray;
    background-color: #27397c;
    padding: 15px;
    width: 100%;
    color: white;
  }

  .header_box {
    width: 100px;
    display: flex;
    margin-left: 90px;
  }
  

  
  .main {
    width: 99%;
    display: flex;
    height: 250px;
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    border: 1px groove white;
    background-color: white;
  }

  .ShopPic {
    padding: 5px;
    width: 30%;
    height: 250px;
    float: left;
  }

  .ShopDetail {
    padding: 20px;
    width: 70%;
    height: 200px;
    float: left;
  }

  hr.new1 {
    border-top: 1px groove white;
  }

  @media (max-width: 799px) {
    .menu { display: none;}
    .main {display: flex; width: 100%; justify-items: center; padding-left: 0%; height: 60rem;}
    .ShopDetail{width: 100%; height: 20rem;}
    .ShopPic{width: 100%; height: 30rem;}
    .dropdown{display: none;}
    .bigmain{width: 90%; padding-right: 10px;}

  }

  @media (max-width: 767px) {
    .LogoPic{width: 60px; margin-top: 20px; margin-left: 50px;}
  }